body {
    background-color: #EDECE1;
    color: #200F3B;
    font-family: Helvetica, Arial, sans-serif;
    /* width: 100vw; */
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-areas: "header header"
                        "nav nav"
                        "aside main"
                        "footer footer";
}
a {
    text-decoration: none;
    color: #200F3B;
}
a:hover {
    color: #6e3fba;
}
h1, h2, h3 {
    font-family: "Antonio", sans-serif;
}
.fa-regular {
    color: #200F3B;
}
.fa-regular:hover {
    color: #6e3fba;
    filter: drop-shadow(3px 3px 3px white);
}
.fa-brands:hover {
    color: #6e3fba;
    filter: drop-shadow(3px 3px 3px white);

} 


/* Aside styling */
aside {
    width: 200px;
    background-color: #e3e1c6;
    position: fixed;
    left: 0;
    top: 110px;
    height: 100%;
    border-right: 1px solid #b5b185;
}
aside > form {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1em;
    padding: 1em;
}
aside input {
    max-width: 80%;
    background-color: #EDECE1;
    border: 1px solid #B5B185;
    padding: 0 1em 0 1em;
    height: 30px;
    border-radius: 15px;
}
aside input:focus {
    background-color: hsl(51, 28%, 98%);
    box-shadow: 0 0 8px black;
}
aside .range-input {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.range-input > input {
    width: 3em;
}


/* Header Styling */
header {
    background-color: #B5B185;
    display: flex;
    font-family: "Antonio", sans-serif;
    gap: 1em;
    justify-content: flex-start;
    align-items: center;
    padding: 0 1em 0 1em;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    box-sizing: border-box;
}
#logo {
    width: 100px;
}
#pfp {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    object-fit: cover;
    margin-left: auto;
}


/* site nav styling */
#site-nav {
    background-color: #D8D5AA;
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    height: 30px;
    z-index: 1;
    box-sizing: border-box;
    border-bottom: 1px solid #b5b185;
}
#site-nav > ul {
    list-style: none;
    display: flex;
    margin: 5px;
    padding-left: 0;
    justify-content: start;
    gap: 1.5em;
}
#login-out {
    margin-left: auto;
}


/* Main section styling */
main {
    position: relative;
    top: 110px;
    /* left: 200px; */
    grid-area: main;
    padding-bottom: 40px;
}

/* Brewery info styling */
#brewery-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "name address"
                        "social details"
                        "about details";
}
#brewery-name {
    grid-area: name;
    font-family: "Antonio", sans-serif;
}
#external-links {
    grid-area: social;
}
#brewery-address {
    grid-area: address;
    display: flex;
    flex-direction: column;
    text-align: end;
}
#brewery-address > p {
    margin: 0;
}
#about-us {
    grid-area: about;
}
#brewery-details {
    grid-area: details;
    text-align: end;
}
#brewery-details ul {
    list-style: none;
    padding-left: 0;
}
#brewery-details li {
    padding-left: 0;
}



/* Footer styling */
footer {
    background-color: #D8D5AA;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-left: 1em;
    height: 25px;
    border-top: 1px solid #b5b185;
}
footer > p {
    padding: 0;
    margin: .25em;
}



/* Beer list styling */
#beer-list {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-evenly;
}

/* Beer card styling */
.beer-card {
    border: 1px solid #B5B185;
    border-radius: 10px;
    padding: 10px;
    background-color: #f2f1e9;
    box-shadow: 2px 2px 2px #00000030;
    width: 260px;
    display: grid;
}
.beer-card:hover {
    background-color: #f6f5ef;
    box-shadow: 2px 2px 2px #00000062;
}
.beer-img {
    max-width: 250px;
    max-height: 166px;
    object-fit: cover;
    justify-self: center;
}
.beer-buttons {
    list-style: none;
    display: flex;
    gap: .5em;
    justify-content: flex-start;
    padding-left: 0;
}
li.save-beer {
    margin-left: auto;
}






/* MEDIA QUERIES */

/* Tablet layout */
@media only screen and (max-width: 830px) {
    body {
        grid-template-columns: 1fr;
        grid-template-areas: "header"
                            "main"
                            "footer";
    }
    aside {
        width: 100%;
        height: auto;
        z-index: 1;
    }
    aside form {
        flex-direction: row;
        flex-wrap: wrap;
        gap: .5em;
        justify-content: space-between;
    }
    #q {
        order: -1;
    }
    #update {
        order: -1;
    }
}

/* Cell layouts */
@media only screen and (max-width: 425px){
    #logo {
        display: none;
    }
    #site-nav ul {
        justify-content: space-between;
        gap: 0;
    }
    #login-out {
        margin-left: 0;
    }
    aside input {
        max-width: 8em;
    }
    aside .range-input {
        gap: .1em;
    }
    
    main {
        top: 200px;
    }
    #brewery-info {
        /* grid-template-columns: 1fr; */
        grid-template-areas: "name social"
                            "about about"
                            "address address"
                            "details details";
    }
    #external-links {
        align-content: center;
        text-align: end;
    }
    #about {
        text-align: justify;
    }
    #brewery-address {
        flex-direction: row;
        justify-content: space-between;
    }
    #brewery-details ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1em;
    }
}